h1, h2, h3 {
  margin-top: 0;
  font-family: $secondary-font;
  color: $secondary-color;
}

a, a:visited, a:active {
  text-decoration: none;
  color: $primary-color;
}

li {
  list-style: none;
}

button{
  border: unset;
  outline: unset;
}