$background: #e5e5e5;
$primary-color: #4b5d68;
$secondary-color: #212353;
$btn-color: #190c2b;
$call-to-action: #f063b8;
$accent-color: #68c9ba;
$btn-color-nav: #ffffff;
$learn-more: #9c69e2;
$linear-gradient: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
$layout-breakpoint-small: 768px;
